<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
	<plugins>
		<plugin interceptor="com.itxxz.framework.mybatis.OffsetLimitInterceptor">
			<property name="dialectClass" value="com.itxxz.framework.mybatis.MySQLDialect"/>
		</plugin>
	</plugins>
</configuration>